@import './../../style/';

.view-link {
  color: $background-card;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-standard;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  background-color: $button-color;
  transition: background-color 0.3s, color 0.3s;
  padding: 4px;

  &:hover {
    color: $background-card;
    background-color: #2a2b2a;
  }
  &--disabled {
    opacity: 0.8;
    background-color: grey;
    pointer-events: none;
  }
}
.header-link  {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  justify-content: center;
  @include typographyCardHeader;
  color: $background-card;
  border-right: 1px solid $background-card;
  border-left: 1px solid $background-card;
  height: 100%;
  &:hover {
    color: $main-color;
    border-color: $main-color;
  }
}

.header-link:hover svg {
  fill: #2a2b2a;
}