// breakpoints
$min-width-mobile: 375px;
$min-width-tablet: 640px;
$min-width-desktop: 1280px;

//container padding
$mobile-inline-padding: 1rem;
$tablet-inline-padding: 2rem;
$pc-inline-padding: 3rem;

//header height
$header-height-mobile: 48px;
$header-height-desktop: 64px;

//font
$font-sm: 0.85rem;
$font-standard: 1rem;
$font-medium: 1.125rem;
$font-big: 1.5rem;
$font-large: 2rem;
$font-xl: 3rem;

